<p><%- __('emails.forgotPassword.text1', { serviceName, resetLink }) %></p>
<br/>
<p>
  <%= __('emails.forgotPassword.text2') %>
  <br/>
  <%- __('emails.forgotPassword.text3', { forgotLink }) %>
</p>